div {
 position:relative;
 width:150px;
 height:150px;
 border:2px solid black;
 display:inline-block;
 background:#5F6BFF;
 .hidden{
  display:none;
 }
}

.rotate{
 transform:rotate(1turn);
  transition: all 2s ease;
}
